* {
	box-sizing: border-box;
}

html {
  font-family: 'Roboto'; /*change this */
}

header {
  display: flex;
  background-color: plum;
  border: 2px solid indigo;
  align-items: center;
  height: 100px;
  justify-content: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 35px;
  row-gap: 50px;
  margin-bottom: 20px;
}

.recipe {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px;
  width: 30%;
}

.recipe img {
  display: block;
  width: 250px;
  height: 250px;
  object-fit: cover;
  /* border-radius: 90%; */
}

.recipe p {
  font-weight: bold;
}

footer {
  color: rgb(82, 79, 79);
  bottom: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
}

footer span {
  font-size: 12px;
}